<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="/Style.css">
<title>Port+</title>
</head>
<body>
	<div th:insert="~{sideNav :: menu}"></div>
	<div class="container right">
		<div class="row">
			<div class="col s12 m6 l3" th:each="c : ${cursos}">
				<div class="card">
					<div class="card-content">
						<table>
							<tr>
								<th>Id:</th>
								<td th:text="${c.id}"></td>
							</tr>
							<tr>
								<th>Titulo:</th>
								<td th:text="${c.titulo}"></td>
							</tr>
							<tr>
								<th>Descriçao:</th>
								<td th:text="${c.descricao}"></td>
							</tr>
						</table>
						<div class="card-action">
							<a class="waves-effect waves-light btn"
								th:href="@{/portPlus/meusCursos/{id}/{titulo}(id=${c.id}, titulo=${c.titulo})}">Entrar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>