body{
	background-color: #00838f;
}

/* Barra de navegação*/
.brand-logo{
	text-align: center;
	text-decoration: strong;
	margin-top: 50px;
}

.sidenav.sidenav-fixed{
	background-color: #1565c0;
}

.sidenav li>a{
	color: white;
}

.sidenav li>a>i.material-icons{
	color: white;
}

.card-panel{
	padding: 0px;
	height: 64px;
	width: 240px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

/*Começo do card*/
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: whitesmoke;
}

.card h1{
	text-align: center;
}

.card h5{
	margin-left: 26px;
}

div.resp{
	margin-left: 26px;
}

.content{
	padding-bottom: 50px;
}
